<div class="title-bar">
    <p id="prof-name">Michael D. Bond</p>
    <img id="org-name" src="http://web.cse.ohio-state.edu/~parent.1/include/cse-logo.jpg">
</div>
<div class="navbar">
    <ul>
        <li><a href="index.html"><i class="fas fa-home"></i></a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="research.html">Research</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="misc.html">Miscellaneous</a></li>
    </ul>
</div>
<hr id="stripe">