<div class="title-bar">
    <p id="prof-name">Michael D. Bond</p>
    <img id="org-name" src="http://web.cse.ohio-state.edu/~parent.1/include/cse-logo.jpg">
</div>
<div class="navbar">
    <ul>
        <li><%= link_to '<i class="fas fa-home"></i>', '../build/index.html' %></li>
        <li><%= link_to 'News', '../build/news.html' %></li>
        <li><%= link_to 'Research', '../build/research.html' %></li>
        <li><%= link_to 'Teaching', '../build/teaching.html' %></li>

        <div class="dropdown">
            <li><button class="misc-drop">Miscellaneous
                <i class="fa fa-caret-down"></i>
            </button></li>
            <div class="dropdown-box">
                <a href="../build/misc.html#teaching">Teaching</a>
                <a href="../build/misc.html#activities">Activities</a>
                <a href="../build/misc.html#awards">Awards</a>
                <a href="../build/misc.html#funding">Funding</a>
            </div>
        </div>
    </ul>
</div>
<hr id="stripe">