    <li class="nav-item">
        <%= link_to "Applications", allapplications_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
        <%= link_to "Recommendations", allrecommendations_path, class: "nav-link text-light" %>
    </li>
    <li class="nav-item">
        <%= link_to "All Courses", allcourses_path, class: "nav-link text-light" %>
    </li>