    <li class="nav-item">
        <a href="#" class="nav-link">Applications</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Recommendations</a>
    </li>
    <li class="nav-item">
        <%= link_to "All Courses", allcourses_path, class: "nav-link" %>
    </li>