<!DOCTYPE html>

<html lang="en">
  <head>

    <!-- The charset must be specified in the head of every page -->
    <meta charset="utf-8" />

  </head>

  <body>

  <!-- The index-box class is used to contain and center the professor's picture and bio on the home page -->
  <div id="index-box">
    <!-- The prof-pic class provides the styling for the image, includes rounded edges, padding, and resizing -->
    <img id="prof-pic" src="http://web.cse.ohio-state.edu/~bond.213/assist.jpeg" class="image-pad" align="left"/>
    
    <!-- The prof-bio class styles the text on the main page of the website, including font size, weight, and padding -->
    <p id="prof-bio"> 
      <br /> 
      Michael D. Bond <br /> <!-- Line breaks are provided after every line, with extra spacing between some lines -->
      <br />

      Associate Professor <br />
      Computer Science & Engineering <br />
      Ohio State University <br />
      <br />
      mikebond@cse.ohio-state.edu <br />
      <br />
      697 Dreese Labs <br />
      <br />
      On sabbatical Autumn 2018 – Spring 2019 <br />
    </p>
  </div>
  </body> <!-- All content comes directly from professor site -->
</html>