<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8" />

  </head>

  <body>
    
  <div id="index-box">
    <img id="prof-pic" src="http://web.cse.ohio-state.edu/~bond.213/assist.jpeg" class="image-pad" align="left"/> 
    <p id="prof-bio"> 
      <br /> 
      Michael D. Bond <br />
      <br />

      Associate Professor <br />
      Computer Science & Engineering <br />
      Ohio State University <br />
      <br />
      mikebond@cse.ohio-state.edu <br />
      <br />
      697 Dreese Labs <br />
      <br />
      On sabbatical Autumn 2018 – Spring 2019 <br />
    </p>
  </div>
  </body>
</html>