<!DOCTYPE html>

    <html lang="en">
        <head>

            <title> </title>

            <meta charset="utf-8" />

        </head>

        <body> <div class="info-box">
            <div>
                <h1>Teaching</h1>
                <ul>
                    <li>Spring 2018: CSE 5349: <a href="https://piazza.com/osu/spring2018/cse5349/home">Program Analysis and Runtime Systems for Reliable, Scalable Parallelism</a></li>
                    <li>Autumn 2017: CSE 3341: <a href="https://piazza.com/osu/autumn2017/cse3341/home">Principles of Programming Languages</a> (two sections)</li>
                    <li>Autumn 2017: CSE 6349: <a href="https://piazza.com/osu/autumn2017/cse6349/home">Program Analyses and Systems for Reliable Parallelism</a></li>
                    <li>Autumn 2016: CSE 3341: Principles of Programming Languages (two sections)</li>
                    <li>Autumn 2015: CSE 3341: Principles of Programming Languages</li>
                    <li>Autumn 2015: CSE 5349: Parallelism in Modern Programming Language Implementations</li>
                    <li>Spring 2015: CSE 3341: Principles of Programming Languages</li>
                    <li>Autumn 2014: CSE 6341: <a href="http://web.cse.ohio-state.edu/~mikebond/6341/">Foundations of Programming Languages</a></li>
                    <li>Spring 2014: CSE 5349: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software</li>
                    <li>Autumn 2013: CSE 6341: Foundations of Programming Languages</li>
                    <li>Spring 2013: CSE 3341: Principles of Programming Languages</li>
                    <li>Autumn 2012: CSE 6341: Foundations of Programming Languages</li>
                    <li>Spring 2012: CSE 755: Programming Languages</li>
                    <li>Autumn 2011: CSE 788.07: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software</li>
                    <li>Spring 2011: CSE 888.07: Algorithms and Implementation Strategies for Efficient Dynamic Analysis for Deployed Concurrent Software</li>
                    <li>Winter 2011: CSE 788.07: Dynamic Program Analysis for Reliable Concurrent Software</li>
                </ul>
            </div>

            <div>
                <h1>Activities</h1>
                <ul>
                    <li>Program Committee, ISMM 2019</li>
                    <li>Program Committee, ASPLOS 2019</li>
                    <li>External Review Committee, PLDI 2018</li>
                    <li>External Review Committee, ASPLOS 2018</li>
                    <li>External Review Committee, PACT 2017</li>
                    <li>External Review Committee, ISMM 2017</li>
                    <li>External Review Committee, ASPLOS 2017</li>
                    <li>Artifact Evaluation Co-Chair, <a href="http://2016.splashcon.org/track/splash-2016-oopsla">OOPSLA 2016</a> and <a href="http://2017.splashcon.org/track/splash-2017-OOPSLA">OOPSLA 2017</a></li>
                    <li>External Program Committee, PLDI 2017</li>
                    <li>External Program Committee, <a href="http://2016.splashcon.org/track/splash-2016-oopsla">OOPSLA 2016</a></li>
                    <li>Program Committee, <a href="http://conf.researchr.org/home/PPoPP-2016">PPoPP 2016</a></li>
                    <li>External Review Committee, <a href="http://www.sigplan.org/Conferences/ASPLOS/">ASPLOS 2016</a></li>
                    <li>Program Committee Chair, <a href="http://conf.researchr.org/home/ismm-2015">ISMM 2015</a></li>
                    <li>Steering Committee, <a href="https://www.sigplan.org/Conferences/ISMM/">ISMM</a>, 2015–2018</li>
                    <li>External Review Committee, <a href="http://conf.researchr.org/home/pldi2015">PLDI 2015</a></li>
                    <li>External Review Committee, <a href="http://conferences.inf.ed.ac.uk/pldi2014/">PLDI 2014</a></li>
                    <li>External Review Committee, <a href="http://ismm2014.cs.tufts.edu/">ISMM 2014</a></li>
                    <li>External Review Committee, <a href="https://sites.google.com/site/ppopp2014/">PPoPP 2014</a></li>
                    <li>Program Committee, <a href="http://pldi2013.ucombinator.org/">PLDI 2013</a></li>
                    <li>Selection Committee, <a href="http://www.cs.wm.edu/~idillig/pldi13-src/">Student Research Competition</a>, PLDI 2013</li>
                    <li>Program Committee, <a href="http://www.cs.technion.ac.il/~erez/ismm13/">ISMM 2013</a></li>
                    <li>External Review Committee, <a href="http://www.cs.rice.edu/~vs3/asplos13">ASPLOS 2013</a></li>
                    <li>Program Committee, <a href="http://splashcon.org/2012/cfp/378">OOPSLA 2012</a></li>
                    <li>External Review Committee, <a href="http://research.microsoft.com/en-us/um/cambridge/events/asplos_2012/">ASPLOS 2012</a></li>
                    <li>Doctoral Symposium Committee, <a href="http://splashcon.org/2011/cfp/103">SPLASH 2012</a></li>
                    <li>Program Committee, <a href="http://tmc.supertriceratops.com/">TMC 2011</a></li>
                    <li>Program Committee, <a href="http://www.hpl.hp.com/personal/Hans_Boehm/ismm11/">ISMM 2011</a></li>
                    <li>External Review Committee, <a href="http://pldi11.cs.utah.edu/">PLDI 2011</a></li>
                    <li>Program Committee, <a href="http://www.cs.technion.ac.il/~erez/vee11/">VEE 2011</a></li>
                    <li>Program Committee, <a href="http://www.splashcon.org/program/oopsla-research-papers">OOPSLA 2010</a></li>
                    <li>External Review Committee, <a href="http://www.cs.stanford.edu/pldi10/">PLDI 2010</a></li>
                    <li>Program Committee, <a href="http://www.multicore-systems.org/iwmse2010">IWMSE 2010</a></li>
                    <li>Review Committee, <a href="http://www.cs.purdue.edu/ISMM10/">ISMM 2010</a></li>
                    <li><a href="http://www.jikesrvm.org/ProjectOrganization/">Jikes RVM Team</a>, 2007–present</li>
                </ul>
            </div>

            <div>
                <h1>Awards</h1>
                <ul>
                    <li></li>
                </ul>
            </div>

            <div>
                <h1>Funding</h1>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        </body>
</html>