<!DOCTYPE html>

    <html lang="en">
        <head>

             <!-- The charset must be specified in the head of every page -->
            <meta charset="utf-8" />

        </head>

        <body>
            <!-- This info-box class provides the styling for the content on the page. It includes a red outline, light gray background, and padding around text -->
            <div class="info-box">
                <h1>News</h1>
                <ul>
                    <li>Swarnendu Biswas's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#arc">rethinking support for region conflict exceptions</a> has been accepted to IPDPS 2019!</li>
                    <li>Jake Roemer's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#vindicator">high-coverage, unbounded predictive race detection</a> appeared at PLDI 2018!</li>
                    <li>A paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#fib">instrumentation bias for efficient data race detection</a> co-authored by PLaSS members Man Cao and Mike Bond and led by Ben Wood (Wellesley College) appeared at OOPSLA 2017!</li>
                    <li>Man Cao's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-relaxed-tracking-topc">hybridizing and relaxing dependence tracking</a> has been published in a special edition of ACM Transactions on Parallel Computing (TOPC) in August 2017!</li>
                    <li>Aritra Sengupta defended his dissertation and graduated in Spring 2017! He joined Samsung Research America in July.</li>
                    <li>Man Cao defended his dissertation and graduated in Spring 2017! He joined Google in May.</li>
                    <li>Aritra Sengupta defended his dissertation and graduated in Spring 2017! He joined Samsung Research America in July.</li>
                    <li>Man Cao defended his dissertation and graduated in Spring 2017! He joined Google in May.</li>
                    <li>Minjia Zhang's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#avalon">avoiding consistency exceptions under strong memory models</a> appeared at ISMM 2017!</li>
                    <li>Aritra Sengupta's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#legato">commodity HTM support for bounded region serializability</a> appeared at CGO 2017!</li>
                    <li>Swarnendu Biswas's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#racechaser-caper">lightweight data race detection for production runs</a> appeared at CC 2017!</li>
                </ul>
            </div>
        </body> <!-- All content and hyperlinks come directly from professor site -->
</html>
