<!DOCTYPE html>

    <html lang="en">
        <head>

            <title> </title>

            <meta charset="utf-8" />

        </head>

        <body>
            <h1>Research</h1>
            <p>My <a href="http://web.cse.ohio-state.edu/~mikebond/plass/">Research</a> develops program analyses and software systems that make complex, concurrent software significantly more reliable, scalable, and secure than it is today.
            <p>General interests: programming languages, software and hardware systems, program analysis, compilers, security</p>
            <p><a href="http://web.cse.ohio-state.edu/~mikebond/pubs.html">Publications</a>
        </body>
</html>
