<!DOCTYPE html>

    <html lang="en">
        <head>

            <!-- The charset must be specified in the head of every page -->
            <meta charset="utf-8" />

        </head>

        <body>
            <!-- The info-box class provides the styling for the body of the page. It includes a red outline, light gray background, and padding around text. -->
            <div class="info-box">
                <h1>Research</h1>
                <p>My <a href="http://web.cse.ohio-state.edu/~mikebond/plass/">Research</a> develops program analyses and software systems that make complex, concurrent software significantly more reliable, scalable, and secure than it is today.
                <p>General interests: programming languages, software and hardware systems, program analysis, compilers, security</p>
                <p><a href="http://web.cse.ohio-state.edu/~mikebond/pubs.html">Publications</a></p>
                <p><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html">Publicly research software</a> (see "Source code" for each paper)</p>
                <p>Current advisees:</p>
                <ul>
                    <li>Kaan Genç (PhD student)</li>
                    <li>Jake Roemer (PhD candidate)</li>
                    <li>Rui Zhang (PhD student)</li>
                </ul>
                <!-- <p>Graduated advisees, with positions as of 2019:</p>
                <ul>
                    <li><a href="http://www.cse.ohio-state.edu/~caoma/">Man Cao</a> (PhD, 2017) — Google</li>
                    <li><a href="http://www.cse.ohio-state.edu/~sengupta/">Aritra</a> (PhD, 2017) — Samsung Research America</li>
                    <li><a href="http://users.ices.utexas.edu/~sbiswas/">Swarnendu Biswas</a> (PhD, 2016) — assistant professor at IIT Kanpur</li>
                    <li><a href="http://zhangminjia.me/">Minjia Zhang</a> (PhD, 2016) — Microsoft Research</li>
                    <li><a href="http://huangjip.github.io/">Jipeng Huang</a> (MS, 2014) — Apple</li>
                </ul> --!>

                <table> <!-- This research information from the original page is now organized in a table -->
                    <tr>
                        <th>Graduated advisees, with positions as of 2019</th>
                        <th>Occupation</th>
                    </tr>
                    <tr>
                        <td><a href="http://www.cse.ohio-state.edu/~caoma/">Man Cao</a> (PhD, 2017)</td>
                        <td>Google</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.cse.ohio-state.edu/~sengupta/">Aritra</a> (PhD, 2017)</td>
                        <td>Samsung Research America</td>
                    </tr>
                    <tr>
                        <td><a href="http://users.ices.utexas.edu/~sbiswas/">Swarnendu Biswas</a> (PhD, 2016)</td>
                        <td>assistant professor at IIT Kanpur</td>
                    </tr>
                    <tr>
                        <td><a href="http://zhangminjia.me/">Minjia Zhang</a> (PhD, 2016)</td>
                        <td>Microsoft Research</td>
                    </tr>
                    <tr>
                        <td><a href="http://huangjip.github.io/">Jipeng Huang</a> (MS, 2014)</a></td>
                        <td>Apple</td>
                    </tr>
                </table>
            </div>
        </body> <!-- All content and hyperlinks come directly from professor site -->
</html>
