<!DOCTYPE html>

    <html lang="en">
        <head>

            <title> </title>

            <meta charset="utf-8" />

        </head>

        <body>
            <h1>Teachning</h1>
            <p>No teaching Autumn 2018 – Spring 2019 (on sabbatical)</p>
            <p><a href="http://web.cse.ohio-state.edu/~mikebond/misc.html#teaching">Past teaching</a></p>
        </body>
</html>
