<!DOCTYPE html>

    <html lang="en">
        <head>

            <!-- The charset must be specified in the head of every page -->
            <meta charset="utf-8" />

        </head>

        <body>
            <!-- The info-box class provides the styling for the content on the page. It includes a red outline, light gray background, and padding around text. -->
            <div class="info-box">
                <h1>Teaching</h1>
                <p>No teaching Autumn 2018 – Spring 2019 (on sabbatical)</p>
                <p><a href="misc.html">Past teaching</a></p> <!-- Link in achor references the miscellaneous page where this info can be found -->
            </div>
        </body> <!-- All content and hyperlinks come directly from professor site -->
</html>
