body {
	background-color: #232323;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

img {
	background: white;
	width: 150px;
	height: 75px;
	float: left;
	margin: 12.5px;
	border-radius: 10px;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
	image-rendering: pixelated;
}

#table {
	max-width: 700px;
	margin: 20px auto;
}

h1 {
	color: white;
    text-align: center;
    background: rgb(193,41,46);
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 500;
	color: #C1292E;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	color: white;
	background-color: #C1292E;
}