/* Authors: Patrick Hubbell and Gino Detore */

body {
	background-color: #232323;
	margin: 0;
	font-family: 'Rubik', sans-serif; /* Font from Google Fonts */
}

#table-grid {
	margin-top: 30px;
	margin-right: 140px;
	display: grid; /* Make the div into a grid */
	grid-template-columns: repeat(4, 155px); /* Make 4 grid columns with width of 155px */
	grid-template-rows: repeat(5, 80px);	 /* Make 5 grid rows with height of 80px */
	grid-gap: 30px; /* 30px gap between grid elements */
	justify-items: center;  /* Align each separate element to be horizontally centered in its grid box */
	align-items: center;	/* Align each separate element to be vertically centered in its grid box */
	justify-content: right; /* Distribute the grid boxes containing the elements to the right of the grid container */
}

#scoreboard {
	background-color: gainsboro;
	border: 2px solid #C1292E;
	border-radius: 10px;
	margin-top: 95px;
	margin-left: 140px;
	display: grid;
	grid-template-columns: 100px 20px;   /* Make 2 grid columns, one 100px wide, the other 20px wide */
	grid-template-rows: repeat(4, 30px); /* Make 4 grid rows with height of 30px */
	grid-gap: 15px; /* 15px gap between grid elements */
	height: 170px;
	width: 160px;
	justify-items: center; /* Align each separate element to be horizontally centered in its grid box */
	align-items: center;   /* Align each separate element to be vertically centered in its grid box */
	justify-content: left; /* Distribute the grid boxes containing the elements to the right of the grid container */
	float: left; /* Place the scoreboard to the left side of the body, allowing the table to position to its right */
}

img {
	background: white;
	border: 4px solid #232323;
	width: 150px;
	height: 75px;
	border-radius: 10px;
	transition: all 0.3s; /* Create a fading transition when a card is selected */
	-webkit-transition: all 0.3s; /* Create a fading transition when a card is selected */
	-moz-transition: all 0.3s; /* Create a fading transition when a card is selected */
}

.score {
	background: white;
	border: 1px solid #C1292E;
	width: 30px;
	height: 20px;
	text-align: center;
}

h1 {
	color: white;
    text-align: center;
    background: rgb(193,41,46);
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
	padding: 20px 0; /* Top and bottom padding of 20px */
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center; /* Align content in the stripe bar in the center */
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%; /* Make the height of the button as tall as the height of the stripe it is contained in */
	font-weight: 500;
	color: #C1292E;
	letter-spacing: 1px; /* Put 1px of space between letters */
	font-size: inherit; /* Inherit the font size of the parent element */
	transition: all 0.3s; /* Create a fading transition when a button is hovered over */
	-webkit-transition: all 0.3s; /* Create a fading transition when a button is hovered over */
	-moz-transition: all 0.3s; /* Create a fading transition when a button is hovered over */
	outline: none;
}

.player {
	text-transform: uppercase;
	font-weight: 300;
	color: #C1292E;
	letter-spacing: 1px; /* Put 1px of space between letters */
	font-size: inherit; /* Inherit the font size of the parent element */
}


#message {
	display: inline-block; /* Diplays the message content inline with the reset and hint buttons, and allows to adjust the width */
	width: 50%; /* Make the width of the message 50% of the width of the stripe bar */
	color: black;
}

/* When the mouse hovers over the reset and hint buttons, change to these properties */
button:hover {
	color: white;
	background-color: #C1292E;
}

/* When a card is clicked, give it this border */
.selected {
	border: 4px solid #C1292E;
}

/* When the hint button is clicked, give the hint(s) this border */
.hint {
	border: 4px solid rgb(216, 216, 30);
}