body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar li {
  float: left;
}

.navbar li a {
  color: white;
  display: block;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: gray;
}

.navbar ul {
  background-color: #BB0000;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.title-bar {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
}

.image-pad {
  margin: 15px 14px 0px 35px;
}

#prof-name {
  color: #555555;
  float: left;
  font-size: 40px;
  font-style: bold;
  margin: 27px 0px 0px 18px;
}

#org-name {
  float: right;
  margin: 4px 30px 0px 0px;
}

#stripe {
  background-color: grey;
  height: 5px;
  margin: 0px;
}

#prof-bio {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  position: relative;
}

.info-box {
  background-color: #F1F4F5;
  border: 5px solid #bb0000;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 46px;
  margin-top: 46px;
  padding: 0px 45px 0px 45px;
  width: 65%;
}

.info-box li {
  margin: 0px 0px 30px 0px;
}

.info-box a {
  color: #bb0000;
}

/* Dropdown Button */
.dropbtn {
  background-color: #BB0000;
  color: white;
  padding: 16px 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #BB0000;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 0px 45px 0px 45px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: grey;
}
#prof-pic {
  border-radius: 10px;
  height: 400px;
  width: auto;
}

#index-box {
  margin: 46px auto;
  width: 50%;
}

#index-box p {
  left: 30px;
  top: 50px;
}
