/* Sets font of everything in body to Ubuntu */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* All li's nested in div with class navbar float themselves to the left of the container */
.navbar li {
  float: left;
}

.navbar li a {
  color: white;
  display: block; /* Allows the whole link area to be clickable, rather than just text */
  padding: 18px 16px;
  text-align: center;
  text-decoration: none; /* Removes underline on links */
}

/* Change the link background to grey when the mouse is hovering over it */
.navbar li a:hover {
  background-color: gray;
}


.navbar ul {
  background-color: #BB0000;
  list-style-type: none; /* Gets rid of bullet points */
  margin: 0;
  overflow: hidden; /* Clips content if there is overflow */
  padding: 0;
}

.title-bar {
  width: 100%;
  height: 100px;
  /* Gives the background of the title area above the navbar a gradient */
  background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
}

#prof-name {
  color: #555555;
  float: left; /* Position professor's name to the left in div */
  font-size: 40px;
  font-style: bold;
  margin: 27px 0px 0px 18px;
}

#org-name {
  float: right; /* Position OSU CSE image to the right in div */
  margin: 4px 30px 0px 0px;
}

/* Add a grey stripe under the navbar */
#stripe {
  background-color: grey;
  height: 5px;
  margin: 0px;
}

/* The info box class is used on every page except for the index to have a common
 * style for the content on each page */
.info-box {
  background-color: #F1F4F5;
  border: 5px solid #bb0000;
  border-radius: 20px;
  margin: auto; /* Centers the div since a width is specified */
  margin-bottom: 46px;
  margin-top: 46px;
  padding: 0px 45px 0px 45px;
  width: 65%;
}

/* Put 30px of space between each list element */
.info-box li {
  margin: 0px 0px 30px 0px;
}

.info-box a, .info-box h1 {
  color: #bb0000;
}

.info-box table, .info-box th, .info-box td {
  border: 1px solid black;
  border-collapse: collapse; /* Collapse borders so there are only single lines outlining the table */
}

.info-box table {
  margin: auto; /* Center the table relative to the div containing it */
  margin-bottom: 30px;
}

/* Style the Miscellaneous link in the navbar to be used for as dropdown button */
.misc-drop {
  background-color: #BB0000;
  color: white;
  padding: 18px 16px;
  font-size: 16px;
  border: none;
}

/* The div used to position the dropdown box content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* The div used to style the actual content in the dropdown box */
.dropdown-box {
  display: none;
  position: absolute;
  background-color: #BB0000;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 54px;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-box a {
  color: white;
  padding: 0px 40px 0px 40px;
  text-decoration: none;
  display: block;
}

/* Change color of the links to grey when hovering */
.dropdown-box a:hover {
  background-color: grey;
}

/* Display the dropdown links box when hovering */
.dropdown:hover .dropdown-box {
  display: block;
}

/* Change the background color of the dropdown link to grey when the dropdown content is being shown */
.dropdown:hover .dropbtn {
  background-color: grey;
}

/* Resize professor picture and give rounded corners */
#prof-pic {
  border-radius: 10px;
  height: 400px;
  width: auto;
}

/* Center the image and professior bio on the home page */
#index-box {
  margin: 46px auto;
  width: 50%;
}

#prof-bio {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  position: relative; /* Allows the p tag content to be positioned relative to its normal position */
  left: 30px; /* Moved from the left 30px */
  top: 50px; /* Moved from the top 50px */
}
