<!-- Provide title 'About' to be used in application.html.erb -->
<% provide(:title, "About") %>

<h1>About the CSE Grader's Portal</h1>

<br />

<div class="container about"> 
Welcome to the OSU CSE Grader's Portal! This portal is a convenient resource for current students at Ohio State seeking a CSE grader position. On the
site, Ohio State CSE students have the ability to apply to grader positions for courses actively seeking graders. The avaiblable courses
are added by professors on the site are specific to each section of the course. Professors also have the ability to recommend a student for a grader
position with a specific section or for a course in general. A recommendation can be made for any course, not just those taught by the professor giving
the recommendation. Finally, the portal also supports built-in administrators that have the ability to see all courses seeking a grader, all applications
submitted by students, and all recommendations. The administrator then uses this information to assign a student to a grading position, updating both the
student's application and the course grader assignment.
</div>