<% provide(:title, "About") %>

<h1>About the CSE Grader's Portal</h1>

<br />

<p> 
Welcome to the OSU CSE Grader's Portal! This portal is a convenient resource for current students at Ohio State seeking a CSE grader position. 

</p>