<!-- Provide title 'Home' to be used in application.html.erb -->
<% provide(:title, "Home") %>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to the OSU CSE Grader's Portal!</h1>
        <p>Click 'Sign Up' to create a Student or Teacher account.
         If you've already submitted a grader application or a course you need a grader for, click 'Log In' to view your status.
         </p>
         <div class="row justify-content-md-center">
            <div class="col-md-4">
                <%= link_to "Sign Up", signup_path, class: "btn btn-danger btn-block" %>
                <%= link_to "Log In", login_path, class: "btn btn-danger btn-block" %>
            </div>
        </div>
    </div>
</div>
