<% provide(:title, "Home") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Welcome to the OSU CSE Grader's Portal!</h1>
        <p>Click 'Sign Up' to create a CSE Grader profile and submit an application.
         If you've already submitted an application, click 'Log In' to view your application.
         </p>
         <%= link_to "Sign Up", signup_path, class: "btn btn-danger" %>
         <%= link_to "Log In", login_path, class: "btn btn-danger" %>
    </div>
</div>
