<% provide(:title, "Home") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Welcome to the OSU CSE Grader's Portal!</h1>
        <p>Click 'Sign Up' to create a CSE Grader profile and submit an application.
         If you've already submitted an application, click 'Log In' to view your application.
         </p>
         <a href="#" class="btn btn-danger">Sign Up</a>
         <a href="#" class="btn btn-danger">Log In</a>
    </div>
</div>
